[submodule "Stocketf-contracts/lib/forge-std"]
	path = Stocketf-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Stocketf-contracts/lib/openzeppelin-contracts"]
	path = Stocketf-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "blocketf-contracts/lib/chainlink-brownie-contracts"]
	path = blocketf-contracts/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
